---

- hosts: webserver
  become: yes

  tasks:
   - name: Nginx setup
     apt: pkg=nginx state=present update_cache=true
   - name: start n
     service: name=nginx state=started
   - name: coppy html
     copy: src=index.html dest=/usr/share/nginx/html/ mode=0644
     become: yes
     
 # handlers:
  # - name: start nginx
  #   service: name=nginx state=started
     
