---

- hosts: webserver
  become: yes

  tasks:
   - name: Nginx setup
     apt: pkg=nginx state=present update_cache=true
   - name: coppy html
     copy: src=index.nginx-debian.html dest=/var/www/html/index.nginx-debian.html
     become: yes
   - name: copy config
     copy: src=nginx.conf dest=/usr/share/nginx/nginx.conf
  # - name: start n
   #  service: name=nginx state=started
     
 # handlers:
  # - name: start nginx
  #   service: name=nginx state=started
     
