---

- hosts: webserver
  become: yes

  tasks:
   - name: Nginx setup
     apt: pkg=nginx state=present update_cache=true
   - name: copy
     copy: src= ~/etc/ansible/index.html dest=/usr/share/nginx/html/ mode=0644
     
 # handlers:
  # - name: start nginx
  #   service: name=nginx state=started
     
